<app-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value" [backdropEnabled]="true"
    [displayProgressSpinner]="spinnerWithoutBackdrop">
</app-progress-spinner>
<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">User</span>
            <button mat-icon-button [mat-dialog-close] aria-label="Close dialog" matTooltip="Close">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="userform">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-label>Nama</mat-label>
                    <input name="nama" formControlName="nama" placeholder="Nama" matInput [(ngModel)]="ModelUser.nama"
                        required />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-label>Username</mat-label>
                    <input name="username" formControlName="username" placeholder="Username" matInput
                        [(ngModel)]="ModelUser.username" required />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-label>Password</mat-label>
                    <input type="password" name="password" formControlName="password" placeholder="Password" matInput
                        [(ngModel)]="ModelUser.passwords" required />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role" placeholder="Role" [(ngModel)]="ModelUser.role" required>
                        <mat-option [value]="'admin'">
                            admin
                        </mat-option>
                        <mat-option [value]="'petugas'">
                            petugas
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button [disabled]='userform.invalid' matTooltip="SAVE" mat-button class="save-button" aria-label="SAVE"
            color="accent" cdkFocusInitial (click)="onSave()">
            SAVE
        </button>
        <button [mat-dialog-close] matTooltip="CANCEL" mat-button class="save-button" aria-label="CANCEL" color="warn">
            Cancel
        </button>
    </div>
</div>