<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">
    <app-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value" [backdropEnabled]="true"
        [displayProgressSpinner]="spinnerWithoutBackdrop">
    </app-progress-spinner>
    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>
        <div class="logo" [@animate]="{ value: '*', params: { scale: '0.2' } }">
            <img src="assets/images/logos/jatra.png" />
        </div>

        <div class="title" style="font-weight: 800;" [@animate]="{ value: '*', params: { delay: '50ms', y: '25px' } }">
            Parkir Aplikasi
        </div>

        <div class="description" [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }">
            <p style="text-align: justify;font-weight: 500;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar
        [@animate]="{ value: '*', params: { delay: '300ms', x: '100%' } }">
        <div id="login-form">
            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/jatra.png" />
            </div>

            <div class="title">LOGIN</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" />
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="
                            !loginForm.get('email').hasError('required') &&
                            loginForm.get('email').hasError('email')
                        ">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field> -->

                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" />
                    <mat-icon matSuffix class="secondary-text">person</mat-icon>
                    <mat-error>
                        Username is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" />
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline">
                    <mat-label>Pilih Kota</mat-label>
                    <mat-select placeholder="Pilih Kota" formControlName="kota">
                        <mat-option [value]="item.IDCity" *ngFor="let item of ListCities; let i = index">{{item.Name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Kota is required
                    </mat-error>                   
                </mat-form-field> -->

                <mat-error *ngIf="pesanerror !== null">
                    {{ pesanerror }}
                </mat-error>

                <!-- <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                    fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Remember Me
                    </mat-checkbox>

                    <a class="forgot-password">
                        Forgot Password?
                    </a>
                </div> -->

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                    [disabled]="loginForm.invalid" (click)="login()">
                    LOGIN
                </button>
                <!--  [routerLink]="'/customers'"-->
            </form>

            <!-- <div class="separator">
                <span class="text">OR</span>
            </div>

            <div fxLayout="column" fxLayoutAlign="start center">

                <button mat-raised-button class="google">
                    Log in with Google
                </button>

                <button mat-raised-button class="facebook">
                    Log in with Facebook
                </button>

            </div> -->

            <!-- <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/auth/register'">Create an account</a>
            </div> -->
        </div>
    </div>
</div>