<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <button matTooltip="PRINT PDF" mat-button class="save-button" aria-label="PRINT" color="accent"
                cdkFocusInitial printSectionId="print-section" ngxPrint>
                PDF
                <mat-icon>print</mat-icon>
            </button>
            <button mat-icon-button [mat-dialog-close]="{event:'save'}" aria-label="Close dialog" matTooltip="Close">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <div id="print-section">
            <h1 style="font-size: 24px;text-align: center;font-weight: 800;">Tarif Parkir</h1>
            <table *ngIf="data.item.length > 0" class="table-responsive" border="1" width="90%" style="border-collapse:collapse;" align="center">
                <thead>
                    <tr style="text-align: center;">
                        <td style="font-weight: bold;font-size: 18px;">Jenis Kendaraan</td>
                        <td style="font-weight: bold;font-size: 18px;">Masuk</td>
                        <td style="font-weight: bold;font-size: 18px;">Keluar</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data.item">
                        <td style="text-align: center;">
                            {{item.jenis_kendaraan}} : {{item.plat_kendaraan}}
                        </td>
                        <td style="text-align: center;">
                            {{item.waktu | date:'medium'}}
                        </td>
                        <td style="text-align: center;">
                            {{item.waktu2 | date:'medium'}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 *ngIf="data.item.length <= 0" style="text-align: center;font-weight: 800;">Silahkan pilih tanggal / jenis kendaraan</h2>
        </div>
    </div>
</div>