<app-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value" [backdropEnabled]="true"
    [displayProgressSpinner]="spinnerWithoutBackdrop">
</app-progress-spinner>
<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Tarif</span>
            <button mat-icon-button [mat-dialog-close] aria-label="Close dialog" matTooltip="Close">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="tarif_form">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-label>Jenis Kendaraan</mat-label>
                    <input name="plat_kendaraan" formControlName="jenis_kendaraan" placeholder="Jenis Kendaraan" matInput
                        [(ngModel)]="ModelTarif.jenis_kendaraan" required />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-label>tarif_1_jam</mat-label>
                    <input name="tarif_1_jam" formControlName="tarif_1_jam" placeholder="tarif_1_jam"
                        matInput [(ngModel)]="ModelTarif.tarif_1_jam" required />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-label>tarif_lebih_dari_1_jam</mat-label>
                    <input name="tarif_lebih_dari_1_jam" formControlName="tarif_lebih_dari_1_jam" placeholder="tarif_lebih_dari_1_jam"
                        matInput [(ngModel)]="ModelTarif.tarif_lebih_dari_1_jam" required />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-label>bayar_perhari</mat-label>
                    <input name="bayar_perhari" formControlName="bayar_perhari" placeholder="bayar_perhari"
                        matInput [(ngModel)]="ModelTarif.bayar_perhari" required />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-label>harian</mat-label>
                    <input name="harian" formControlName="harian" placeholder="harian"
                        matInput [(ngModel)]="ModelTarif.harian" required />
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button [disabled]='tarif_form.invalid' matTooltip="SAVE" mat-button class="save-button" aria-label="SAVE" color="accent" cdkFocusInitial
            (click)="onSave()">
            SAVE
        </button>
        <button [mat-dialog-close] matTooltip="CANCEL" mat-button class="save-button" aria-label="CANCEL" color="warn">
            Cancel
        </button>
    </div>
</div>