<div id="keluar" class="page-layout carded fullwidth inner-scroll">
  <fuse-progress-bar></fuse-progress-bar>
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
          fxLayoutAlign.gt-sm="space-between center">

          <!-- APP TITLE -->
          <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                  home
              </mat-icon>
              <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                  chevron_right
              </mat-icon>
              <!-- <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          directions_car
      </mat-icon> -->
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                 Checkout
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-wrapper mx-32 mx-md-0">
              <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>search</mat-icon>
                  <input #filter (keyup)="applyFilter($event.target.value)" placeholder="Search">
              </div>
          </div>
          <!-- / SEARCH -->

          <!-- ADD BUTTON [routerLink]="'/apps/e-commerce/products/new'" -->
          <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0" (click)="OnAdd()">
              <span style="padding-right: 8px;">Data</span>
              <mat-icon>add_box</mat-icon>
          </button>
          <!-- / ADD BUTTON -->
      </div>
      <!-- / HEADER -->

      <div class="content-card">
          <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
              fusePerfectScrollbar>

              <ng-container matColumnDef="plat">
                  <mat-header-cell fxFlex="140px" *matHeaderCellDef mat-sort-header>Plat Kendaraan</mat-header-cell>
                  <mat-cell fxFlex="140px" *matCellDef="let order">
                      <p class="text-truncate">{{order.plat_kendaraan}}</p>
                  </mat-cell>
              </ng-container>

              <ng-container matColumnDef="jenis">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Jenis Kendaraan</mat-header-cell>
                  <mat-cell *matCellDef="let order">
                      <p class="text-truncate">{{order.jenis_kendaraan}}</p>
                  </mat-cell>
              </ng-container>

              <ng-container matColumnDef="waktu">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Waktu</mat-header-cell>
                <mat-cell *matCellDef="let order">
                    <p class="text-truncate">{{order.waktu | date:'medium'}}</p>
                </mat-cell>
            </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
              <mat-row *matRowDef="let order; columns: displayedColumns;" class="product">
              </mat-row>

          </mat-table>
          <mat-paginator class="mb-10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
  </div>
</div>