<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <button matTooltip="PRINT PDF" mat-button class="save-button" aria-label="PRINT" color="accent"
                cdkFocusInitial printSectionId="print-section" ngxPrint>
                PDF
                <mat-icon>print</mat-icon>
            </button>
            <button mat-icon-button [mat-dialog-close]="{event:'save'}" aria-label="Close dialog" matTooltip="Close">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <div id="print-section">
            <h1 style="font-size: 24px;text-align: center;font-weight: 800;">Tarif Parkir</h1>
            <table class="table-responsive" border="1" width="90%" style="border-collapse:collapse;" align="center">
                <thead>
                    <tr style="text-align: center;">
                        <td style="font-weight: bold;font-size: 18px;">Jenis Kendaraan</td>
                        <td style="font-weight: bold;font-size: 18px;">Masuk</td>
                        <td style="font-weight: bold;font-size: 18px;">Keluar</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;">
                            {{data.item.jenis_kendaraan}} : {{data.item.plat_kendaraan}}
                        </td>
                        <td style="text-align: center;">
                            {{data.item.waktu | date:'medium'}}
                        </td>
                        <td style="text-align: center;">
                            {{today | date:'medium'}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" style="text-align: center;">Total Bayar</td>
                        <td style="text-align: right;">{{data.tarif.totalBayar | currency: 'Rp. ':'symbol'}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>